Repository marvinboris/loan-two: changes, and which lint-staged commands are due for each by the changed paths.
All: nx format:write --, prettier --write

test: verify hooks work
  README.md
Due: prettier --write

test: fixed pre-commit
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add semantic-release for auto versioning
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update pnpm lockfile
  pnpm-lock.yaml
Due: none

fix: disable problematic typecheck and fix workspace setup
  .github/workflows/ci.yml
  .gitignore
  apps/admin/project.json
  apps/admin/tsconfig.app.json
  apps/api/project.json
  apps/collection/tsconfig.app.json
  apps/customer/tsconfig.app.json
  apps/telemarketing/tsconfig.app.json
  nx.json
  packages/hooks/project.json
  packages/ui-web/project.json
  packages/ui/project.json
  packages/ui/tsconfig.lib.json
  packages/utils/src/i18next.d.ts
Due: nx format:write --, prettier --write

fix: lint errors in api and ui-web
  apps/api/eslint.config.mjs
  apps/api/src/routes/protected/admin/financial/controller.ts
  apps/api/src/routes/protected/admin/operation/controller.ts
  apps/api/src/routes/protected/admin/operation/service.ts
  apps/api/src/routes/protected/customer/beneficiary/controller.ts
  apps/api/src/routes/protected/customer/borrow/controller.ts
  packages/ui-web/src/layout/breadcrumb/context.tsx
Due: nx format:write --

fix: simplify test configuration and fix utils tests
  apps/admin/project.json
  apps/api/coverage/base.css
  apps/api/coverage/block-navigation.js
  apps/api/coverage/favicon.png
  apps/api/coverage/index.html
  apps/api/coverage/prettify.css
  apps/api/coverage/prettify.js
  apps/api/coverage/sort-arrow-sprite.png
  apps/api/coverage/sorter.js
  apps/api/project.json
  jest.preset.js
  packages/hooks/project.json
  packages/types/coverage/base.css
  packages/types/coverage/block-navigation.js
  packages/types/coverage/favicon.png
  packages/types/coverage/index.html
  packages/types/coverage/prettify.css
  packages/types/coverage/prettify.js
  packages/types/coverage/sort-arrow-sprite.png
  packages/types/coverage/sorter.js
  packages/types/coverage/types.ts.html
  packages/types/project.json
  packages/ui-web/project.json
  packages/ui/project.json
  packages/utils/coverage/base.css
  packages/utils/coverage/block-navigation.js
  packages/utils/coverage/favicon.png
  packages/utils/coverage/index.html
  packages/utils/coverage/prettify.css
  packages/utils/coverage/prettify.js
  packages/utils/coverage/sort-arrow-sprite.png
  packages/utils/coverage/sorter.js
  packages/utils/coverage/utils.ts.html
  packages/utils/project.json
  packages/utils/src/lib/utils.spec.ts
Due: nx format:write --, prettier --write

fix: disable tests in CI due to hanging issues
  .github/workflows/ci.yml
  jest.preset.js
  packages/utils/coverage/base.css
  packages/utils/coverage/block-navigation.js
  packages/utils/coverage/favicon.png
  packages/utils/coverage/index.html
  packages/utils/coverage/prettify.css
  packages/utils/coverage/prettify.js
  packages/utils/coverage/sort-arrow-sprite.png
  packages/utils/coverage/sorter.js
  packages/utils/coverage/utils.ts.html
  packages/utils/jest.config.ts
Due: nx format:write --, prettier --write

chore: remove coverage files
  packages/utils/coverage/base.css
  packages/utils/coverage/block-navigation.js
  packages/utils/coverage/favicon.png
  packages/utils/coverage/index.html
  packages/utils/coverage/prettify.css
  packages/utils/coverage/prettify.js
  packages/utils/coverage/sort-arrow-sprite.png
  packages/utils/coverage/sorter.js
  packages/utils/coverage/utils.ts.html
Due: nx format:write --, prettier --write

fix: use correct firebase-action in CI
  .github/workflows/ci.yml
Due: none

fix: use w9jds/firebase-action@master
  .github/workflows/ci.yml
Due: none

fix: update Node.js to 22 for semantic-release
  .github/workflows/ci.yml
Due: none

fix: add working-directory for firebase deploy
  .github/workflows/ci.yml
Due: none

fix: fix working-directory syntax in CI
  .github/workflows/ci.yml
Due: none

fix: use firebase CLI directly instead of action
  .github/workflows/ci.yml
Due: none

fix: update semantic-release config for GitHub Actions
  package.json
Due: prettier --write

fix: disable release job - requires admin permissions
  .github/workflows/ci.yml
Due: none

fix: move prepare-api and deploy to pre-commit, simplify CI
  .github/workflows/ci.yml
  .husky/pre-commit
Due: none

fix: move prepare-api and deploy to pre-commit, simplify CI
  .husky/pre-commit
Due: none

fix: optimize customer import process and improve duplicate handling
  apps/api/src/routes/protected/admin/telemarketing/service.ts
Due: nx format:write --

fix: enhance mobile number normalization and duplicate handling in customer import
  apps/api/src/routes/protected/admin/telemarketing/service.ts
Due: nx format:write --

fix: implement batched deduplication and insertion for customer import
  apps/api/src/routes/protected/admin/telemarketing/service.ts
Due: nx format:write --

Path conditions:
  nx format:write --: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,html}
